.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: 0;
}

.errorModal {
  position: absolute;
  top: 30%;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color: white;
  box-sizing: border-box;
  border: 10px solid red;
  z-index: 1;
  background-color: rgb(241, 234, 234);
}

.message {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.errorModal button {
  background-color: rgb(239, 68, 68);
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 0.4rem;
  border: 1px solid black;
}

.errorModal button:hover {
  background-color: white;
  color: rgb(250, 0, 0);
  cursor: pointer;
}

.errorModal button:active {
  background-color: rgb(239, 68, 68);
  color: black;
}
